[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "blorr"]
	path = blorr
	url = https://github.com/rsquaredacademy/blorr
[submodule "descriptr"]
	path = descriptr
	url = https://github.com/rsquaredacademy/descriptr
[submodule "inferr"]
	path = inferr
	url = https://github.com/rsquaredacademy/inferr
[submodule "olsrr"]
	path = olsrr
	url = https://github.com/rsquaredacademy/olsrr
[submodule "rbin"]
	path = rbin
	url = https://github.com/rsquaredacademy/rbin
[submodule "rfm"]
	path = rfm
	url = https://github.com/rsquaredacademy/rfm
[submodule "standby"]
	path = standby
	url = https://github.com/rsquaredacademy/standby
[submodule "vistributions"]
	path = vistributions
	url = https://github.com/rsquaredacademy/vistributions
[submodule "xplorerr"]
	path = xplorerr
	url = https://github.com/rsquaredacademy/xplorerr
[submodule "yahoofinancer"]
	path = yahoofinancer
	url = https://github.com/rsquaredacademy/yahoofinancer
